<link href="~/css/Notes.css" rel="stylesheet" />

@{
    ViewData["Title"] = "ReadMe Title";
}
<div class="action">
    <form class="action-button" action="patosprint" method="POST">
        <input class="action-button" type="submit" hey />
    </form>
</div>

<div class="CodeBackground">
    <div class="CodeText">
        <pre> 
using AI;
using AtlantidaLostDatabase;

namespace EverythingEverywhereAllAtOnce

public class Readme : Ideas
{
    public ReadMe() Ctes
    {
        int visitor number = PLACEHOLDER;

        **Place to add ideas + coolstuff**
    }

    public IActionResult RoutingWithAI()
    {
        string Use chatgpt API to make the routing
        {
            Ex: "Get me to README", then it goes to the page README;
            EX: "I want GALERY", then it goes to the page GALERY;
        }
        return Knowladge();
    }

    public IActionResult ReadMeForms()
    {
        string Add a Form to create this "posts/ideas"
        {
            - Create a Partial View for the form and put it here ->
        }

        return Knowladge();
    }
}
        </pre>
    </div>
</div>
