<link href="~/css/Notes.css" rel="stylesheet" />

@{
    ViewData["Title"] = "README";
}
<div class="action">
    <form class="action-button" action="patosprint" method="POST">
        <input class="action-button" type="submit"/>
    </form>
</div>
