<link href="~/css/Notes.css" rel="stylesheet" />

@{
    ViewData["Title"] = "ReadMe Title";
}

<div class="">
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Get started
				<small>Let us create your account</small>
			</h2>
		</div>
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field" value="Alexander Parkinson" required />
				<label class="input-label">Full name</label>
			</div>
			<div class="input">
				<input type="text" class="input-field" value="vlockn@gmail.com" required />
				<label class="input-label">Email</label>
			</div>
			<div class="input">
				<input type="password" class="input-field" required />
				<label class="input-label">Password</label>
			</div>
			<div class="action">
				<button class="action-button">Get started</button>
			</div>
		</form>
		<div class="card-info">
			<p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
		</div>
	</div>
</div>

<div class="CodeBackground">
    <div class="CodeText">
        <pre> 
using AI;
using AtlantidaLostDatabase;

namespace EverythingEverywhereAllAtOnce

public class Readme : Ideas
{
    public ReadMe() Ctes
    {
        int visitor number = PLACEHOLDER;

        **Place to add ideas + coolstuff**
    }

    public IActionResult RoutingWithAI()
    {
        string Use chatgpt API to make the routing
        {
            Ex: "Get me to README", then it goes to the page README;
            EX: "I want GALERY", then it goes to the page GALERY;
        }
        return Knowladge();
    }

    public IActionResult ReadMeForms()
    {
        string Add a Form to create this "posts/ideas"
        {
            - Create a Partial View for the form and put it here ->
        }

        return Knowladge();
    }
}
        </pre>
    </div>
</div>
