@using Bussiness;
@model PrintTicketModel

@{
    ViewData["Title"] = "PrintTicket";
}

    <style>
        .image-box {
            width: 200px;
            height: 200px;
            background-image: url("../../../FrontEnd/images/printer.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .white-text {
            color: white;
        }

        .yellow-text {
            color: rgb(230, 197, 13);
        }

        .input-box {
            width: 200px;
        }
    </style>

    <body class="background">
    <div class="image-box"></div>
        <h1 class="yellow-text">PRINT TICKET</h1>
        <script src="index.js"></script>
        <form method="post" asp-action="NewPrintTicket">
            <label asp-for="PrintName" class="white-text">Print Name:</label><br>
            <input asp-for="PrintName" type="text" class="input-box"><br><br>

            <label asp-for="Weight" class="white-text">Print Name:</label><br>
            <input asp-for="Weight" type="text" class="input-box"><br><br>

            <label asp-for="FilamentID" class="white-text">Select Filament:</label><br>
            @*TODO: ADICIONAR OS REQUIREMENTS (<span asp-validation-for="Name" class="text-danger"></span>)*@

            <select asp-for="FilamentID" class="input-box">
                @foreach(Filament filament in Model.FilamentList)
                {
                    <option value="@filament.FilamentID">@filament.FilamentName</option>
                }
            </select><br><br>

            <select asp-for="UserID" class="input-box">
                @foreach (UserEntity user in Model.UserList)
                {
                    <option value="@user.UserID">@user.UserName</option>
                }
            </select><br><br>

            <button type="submit">Submit</button>
        </form>
    </body>

